* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F6EBEA;
  font-family: Inter, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lemon', serif;
}

a {
  text-decoration: none;
}

/* header */
.logo {
  position: relative;
  top: 10px;
  left: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

hr {
  position: absolute;
  width: 100%;
  top: 100px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F6EBEA;
  z-index: 100;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F6EBEA;
  text-align: center;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E2E3E3;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-size: .9rem;
  color: #000;
  opacity: 0.75;
  text-transform: capitalize;
}

.btn-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.icon {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}


/* home */
.home {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 140px;
}

.help-btn {
  position: absolute;
  top: -60px;
  right: 15px;
}

.container {
  display: flex;
  margin-top: 29px;
  width: 100%;
  flex-direction: column;
  padding: 0 27px;
}

.next-class {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #f0e5e8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 22px;
  padding: 19px 27px 35px 17px;
  font-size: 12px;
  max-width: 426px;
}

.next-class-info, 
.assignments-due-info {
  max-width: 260px;
}

.next-class-title, 
.assignments-due-title {
  font-weight: 700;
  font-size: .75rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.next-class-subheading, 
.assignments-due-subheading {
  margin-bottom: 10px;
}

.next-class-subheading span, 
.assignments-due-subheading span {
  font-weight: 700;
}

.next-class ul, 
.assignments-due ul {
  margin-left: 20px;
}

.assignments-due {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #dae0e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  padding: 19px 27px 35px 17px;
  font-size: 12px;
  max-width: 426px;
}

.play-icon, .danger-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 60px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin-top: 10px;
}

.card {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 27px 16px;
}

.card p {
  margin-bottom: 10px;
}

.card:nth-child(1) {
  background-color: #65B4BD;
}

.card:nth-child(2) {
  background-color: #BCB8E0;
}

.card:nth-child(3) {
  background-color: #000000;
  color: white !important;
}

.card:nth-child(4) {
  background-color: #3D878F;
}

.card:nth-child(5) {
  background-color: #65B4BD;
}


.img {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 50px;
  max-width: 100%;
  align-self: end;
  margin-top: 15px;
}

.title {
  font-weight: 700;
  font: 400 12px Inter, sans-serif;
}

a {
  white-space: nowrap;
  font: 400 12px Inter, sans-serif;
}


/* messages */
.messages {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 140px;
}

.messages h2 {
  margin-bottom: 20px;
}

.message-box-unread {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #65b4bd;
  align-self: stretch;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: end;
  padding: 16px 0;
  margin-bottom: 5px;
  border-radius: 30px;
}

.message-box-read {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #DAE0E1;
  align-self: stretch;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: end;
  padding: 16px 0;
  margin-bottom: 5px;
  border-radius: 30px;
}

.message-status {
  color: #000;
  margin-right: 30px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
}

.message-box-info {
  align-self: stretch;
  display: flex;
  margin-top: 6px;
  flex-direction: column;
  padding: 0 30px 0 24px;
}

.user-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 14px;
}

.user-pic {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  fill: #000;
  overflow: hidden;
  max-width: 100%;
}

.message-info {
  display: flex;
  margin-top: 4px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}

.user {
  font-size: 20px;
  font-weight: 700;
}

.content {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 400;
}

.timestamp {
  align-self: end;
  margin-top: 25px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.user-pic {
  aspect-ratio: 0.98;
  object-fit: contain;
  object-position: center;
  width: 39px;
  fill: #000;
  overflow: hidden;
  max-width: 100%;
}

.user-pic {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  fill: #000;
  overflow: hidden;
  margin-top: 6px;
  max-width: 100%;
}


/* assignments */
.assignments {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 140px;
}

.container {
  background-color: #f6ebea;
  display: flex;
  width: 100%;
  padding-bottom: 23px;
  flex-direction: column;
}

.assignment-box {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #DAE0E1;
  align-self: stretch;
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
  gap: 20px;
  padding: 33px 32px 33px 20px;
}

.overdue {
  background-color: #f6ebea;
}

.assignment-box .left {
  font-size: 12px;
  max-width: 220px;
}

.assignment-box .left h4 {
  margin-top: 10px;
}

.assignment-box .left p {
  margin-bottom: 10px;
}

.assignment-box .left span {
  font-weight: 700;
}

.assignment-box .left ul {
  margin-left: 20px;
}

.assignment-box .right {
  align-self: center;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.assignment-box .right p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  text-align: center;
}

.danger-icon {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

/* profile */
.profile {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 140px;
}

.container {
  background-color: #f6ebea;
  display: flex;
  width: 100%;
  padding-bottom: 19px;
  flex-direction: column;
}

.img {
  aspect-ratio: 1.29;
  object-fit: contain;
  object-position: center;
  width: 180px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: -40px;
  max-width: 100%;
}

.user-profile {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #dae0e1;
  align-self: stretch;
  display: flex;
  margin-top: 22px;
  flex-direction: column;
  padding: 26px 57px;
}

.user-profile .user-pic {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
}

.name {
  color: #000;
  text-align: center;
  align-self: center;
  margin-top: 14px;
  white-space: nowrap;
  font: 400 24px PoetsenOne, sans-serif;
}

.hr {
  background-color: rgba(0, 0, 0, 0.25);
  align-self: stretch;
  margin-top: 7px;
  height: 1px;
}

.bio {
  color: #000;
  text-align: center;
  margin-top: 11px;
  font: 400 14px Inter, sans-serif;
}

.grade-box {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #65b4bd;
  align-self: stretch;
  display: flex;
  margin-top: 11px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 21px 26px;
}

.grade-box:nth-of-type(2) {
  background-color: #65B4BD;
}

.grade-box:nth-of-type(3) {
  background-color: #BCB8E0;
}

.grade-box:nth-of-type(4) {
  background-color: #000000;
  color: white !important;
}

.grade-box:nth-of-type(5) {
  background-color: #3D878F;
}

.grade-box:nth-of-type(6) {
  background-color: #65B4BD;
}

.grade-box .left {
  font-size: .8rem;
}

.grade-box .right {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

/* feedback */
.feedback {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 140px;
}

.container {
  background-color: #f6ebea;
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  flex-direction: column;
}

.feedback-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.feedback h4 {
  font-size: 1.2rem;
}


.back-btn {
  color: #000;
  white-space: nowrap;
  border-radius: 15px;
  background-color: #bcb8e0;
  justify-content: center;
  padding: 5px 15px;
  font-family: 'Lemon', serif;
  font-size: 1.2rem;
  width: max-content;
}

/* .div-5 {
  color: #000;
  align-self: start;
  margin-top: 9px;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 24px PoetsenOne, sans-serif;
} */

.feedback-illustration {
  aspect-ratio: 1.59;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: center;
  margin-top: 44px;
  max-width: 330px;
}

.feedback-box {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #dae0e1;
  align-self: start;
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 15px;
  padding: 30px 40px 20px;
}

.feedback-box h5 {
  transform: translateX(-8%) translateY(-30%);
}

.textbox {
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  padding: 14px 0 7px 11px;
  width: 120%;
  transform: translateX(-8%);
}

.placeholder {
  color: rgba(0, 0, 0, 0.25);
  font: 400 12px Inter, sans-serif;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: end;
  margin-top: 176px;
  max-width: 100%;
  transform: translateX(875%);
}


/* welcome */

.welcome-loading-screen {
  background-color: #F6EBEA;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: background-color 1s ease, height 1s ease;
}

.logo-loading {
  width: 180px;
  transform: translateY(100%);
  transition: transform 1s ease;
}

.hidden {
  display: none;
}

.welcome {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 430px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.welcome h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-family: Lemon, serif;
}

.welcome p {
  font-size: 1.25rem;
  max-width: 350px;
}

.welcome-illustration {
  align-self: center;
  margin: 80px 0 40px 0;
}

.arrow-btn {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
  margin: 98px 0 50px;
}

/* programs */
#accordion .card {
  margin-bottom: 10px;
}

#fullstackHeading h5 button {
  color: #fff;
}

#fullstackHeading h5 button i {
  color: #fff;
}

#fullstackCollapse .card-body p {
  color: #fff;
}

.fa-chevron-down {
  font-size: 1.5rem;
  color: #000;
  margin-left: 155px;
}

.btn-link {
  text-decoration: none;
  color: #000;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
}

.card-body img {
  margin-top: 20px;
}

.mt-5 .register-btn {
  color: #fff;
  text-align: center;
  border-radius: 15px;
  background-color: #000;
  align-self: stretch;
  margin-top: 310px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 34px 60px;
  font: 400 24px PoetsenOne, sans-serif;
}

.mt-5 .login-btn {
  color: #000;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 10px;
  white-space: nowrap;
  font: 400 16px Noto Sans, sans-serif;
}


/* register/login/choose program */
.register,
.login,
.choose-program {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  max-width: 430px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/* .container {
  background-color: #f6ebea;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 49px 26px;
} */

.logo-register {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 180px;
  overflow: hidden;
  align-self: center;
  z-index: 1;
  max-width: 100%;
}

.register h2,
.login h2,
.choose-program h2 {
  color: #000;
  text-align: center;
  align-self: center;
  width: 399px;
  transform: translateY(-60%);
}

.register h3,
.login h3 {
  color: #000;
  align-self: stretch;
  margin-top: 10px;
}

.register p,
.login p,
.choose-program p {
  color: #9a9a9a;
  text-align: center;
  align-self: center;
  margin-bottom: 30px;
}

#input-form {
  margin-bottom: 30px;
}

#input-form label {
  font-family: Lemon, serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
  display: block;
}

input[type="text" i],
input[type="email" i],
input[type="password" i],
select
 {
  width: 100%;
  border-radius: 15px;
    border: 1px solid #000;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    margin-top: 11px;
    height: 68px;
    flex-direction: column;
}

select option {
  background-color: #f2f2f2;
  color: #333;
  max-width: 376px;
}

select option:checked {
  background-color: #007bff;
  color: #fff;
}

.register .input, 
.login .input {
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  margin-top: 11px;
  height: 68px;
  flex-direction: column;
}

.register .register-btn {
  color: #fff;
  text-align: center;
  border-radius: 15px;
  background-color: #000;
  align-self: stretch;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: 376px;
  padding: 34px 60px;
  font: 400 24px PoetsenOne, sans-serif;
  position: absolute;
  left: 22px;
}

.register .login-btn {
  color: #000;
  align-self: center;
  margin-top: 185px;
  margin-bottom: 10px;
  white-space: nowrap;
  font: 400 16px Noto Sans, sans-serif;
}


.login .login-btn {
  color: #fff;
  text-align: center;
  border-radius: 15px;
  width: 376px;
  background-color: #000;
  align-self: stretch;
  margin-top: 205px;
  justify-content: center;
  align-items: center;
  padding: 34px 60px;
  font: 400 24px PoetsenOne, sans-serif;
  position: absolute;
  left: 22px;
}

.login .register-btn {
  color: #000;
  background-color: transparent;
  align-self: center;
  margin-top: 300px;
  white-space: nowrap;
  font: 400 16px Noto Sans, sans-serif;
  display: inline-block;
}

/* choose-program */

.registration-confirmation {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.icon-confirmation {
  width: 100px;
  height: auto;
}

.choose-program-loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6ebea;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.choose-program .register-btn {
  margin-top: 344px;

  color: #fff;
    text-align: center;
    border-radius: 15px;
    background-color: #000;
    align-self: stretch;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 376px;
    padding: 34px 60px;
    font: 400 24px PoetsenOne, sans-serif;
    position: absolute;
    left: 22px;
    bottom: 80px;
}

/* Add styles to fade in the registration confirmation and loading screen */
.registration-confirmation.show,
.choose-program-loading-screen.show {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: translateX(-50%) translateY(-510px);
}
