/* css/web582.css */

/* mini reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: rgb(32 32 32 /1);
  color: rgb(240 240 240 / 0.95);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  line-height: 2em;
}

/* end mini reset */
:root {
  --parallax-multiplier: 6n;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

p,
ul {
  font-family: "DM Sans", sans-serif;
}

ul {
  padding-left: 1.44rem;
}

strong {
  color: rgb(236 121 66 /1);
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figure img,
img {
  width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

figure figcaption {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: rgb(240 240 240 /1);
  position: relative;
  top: -1rem;
  background-color: rgb(64 64 64 /1);
}

nav {
  position: fixed;
  bottom: 0;
  padding: 0 0.5rem;
  width: 100%;
  background-color: rgba(216, 216, 216, 1);
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, auto));
}

nav #logo {
  display: none;
}

nav a {
  padding: 0.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.5s;
  height: 100%;
  display: grid;
  align-items: center;
  font-weight: 600;
}

nav a:link,
nav a:visited {
  color: rgb(39 39 39 / 0.85);
  transition: color 0.5s;
  /*font-size: 1rem;*/
}

nav a:hover,
nav a:focus {
  color: rgba(240, 240, 240, 0.95);
  background-color: rgba(16, 16, 16, 0.95);
  text-decoration: none;
}

nav #logo {
  position: absolute;
  left: 0;
  max-height: none;
  display: none
}

nav img {
  max-height: 40px;
  width: initial;
}

nav {
  justify-content: end;
}

a:link,
a:visited {
  color: rgba(151, 193, 234, 0.85);
  transition: color 0.5s;
}

a:hover,
a:focus {
  color: rgba(236, 121, 66, 1);
  text-decoration: none;
  background-color: rgba(240, 240, 240, 0.15);
}

a:active {
  color: rgba(151, 193, 234, 0.85);
}

/* header */
header {
  padding: 1rem;
  min-height: 33vh;
  width: 100%;
  background: url(../images/mtl_banner.jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  overflow: hidden;
}

main {
  padding: 1.2rem 0 9rem 0;

}

main>section {
  margin: 3rem auto;
  max-width: 40em;
  padding: 1.2rem 1.2rem 9rem 1.2rem;

}

hr {
  margin: 3rem 0;
}

#student-sites a {
  display: inline-block;
}

footer {
  background-color: rgb(32 32 32 /1);
  position: fixed;
  width: 100vw;
  bottom: 50px;
  padding: 1.2rem;
}

/*  video embed styles */
.video-container iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/* media.html styles */
.columns {
  display: grid;
  gap: 1rem;
  margin: 0 1rem;
}

.col-2 {
  display: grid;
  gap: 1rem;
}

#gallery h2 {
  display: grid;
  grid-column: 1/-1;
  line-height: 1.44rem;
  width: 100%;
  place-items: center;
}

pre {
  background: rgb(64 64 64 /1);
  width: 100%;
  font-family: monospace;
}

#sitemaps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#sitemaps h2 {
  grid-column: 1/-1;
}

blockquote {
  background-color: rgb(64 64 64 / 0.95);
  margin: 1.44rem 2.488rem;
  font-weight: 300;
  padding: 1.44rem;
  position: relative;
}

blockquote figcaption {
  text-align: right;
  font-size: 1rem;
}

blockquote span {
  position: absolute;
  top: 5rem;
  left: 0;
  font-size: 25rem;
  opacity: 0.3;
  font-family: 'Playfair Display';
  transform: rotate(-15deg);
}


/* media queries */
@media screen and (min-width: 600px) {

  nav {
    grid-template-columns: repeat(5, minmax(auto, auto));
  }

  nav #logo {
    display: inline-block;
  }

}

@media screen and (min-width: 900px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* parallax stuff */
.parallax {
  background-image: url(../images/beziers_banner.jpg);
  min-height: 400px;
  /* for all */
  position: relative;
  opacity: 0.90;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:nth-of-type(6n+1) {
  background-image: url(../images/monmartre_banner.jpg);
}

.parallax:nth-of-type(6n+2) {
  background-image: url(../images/mtl_banner.jpg);
}

.parallax:nth-of-type(6n+3) {
  background-image: url(../images/st-laurent_banner.jpg);
}

.parallax:nth-of-type(6n+4) {
  background-image: url(../images/lac_castors_banner.jpg);
}

.parallax:nth-of-type(6n+5) {
  background-image: url(../images/lens_auditorium_banner.jpg);
}

.parallax:nth-of-type(6n+6) {
  background-image: url(../images/beziers_banner.jpg);
}